body{
    margin: 0;
    background-image: linear-gradient(transparent, rgba(15, 15, 15, 0.342)),                 
     url("../img/logo.png")  ;
    background-repeat:repeat-x;
    font-size: 32px;
    font-family: 'Carter One', Arial, Helvetica, sans-serif;
    min-height: 100vh;
    color: aliceblue;
}
header{
    background: black;
    padding: 10px;
    text-align: center;
    margin-bottom: 40px;
    
}
h1{
  margin: 0;
  color: rgb(119, 184, 245);
  
}
main{
    width: 80%;
    height: 100%;
    margin: auto;
    padding: 0px 20px 10px;
    border-radius: 20px;
    background: rgba(46, 175, 250, 0.071);
   
   
}
#imagen{
    width: 250px;
    height: 200px;
    border-radius: 20px;
    display: block;
     margin: 0px;

   
}
#jugar{
    font-size: 32px;
    border-radius: 5px;
    border: none;
    background-color: rgb(243, 245, 248);
}
#palabra__adivinar{
    text-align: center;
    height: 5rem;
    font-size: 42px;
    color: hsl(0, 54%, 97%);
     
}
#palabra__adivinar span{
    vertical-align: bottom;
    font-size: 2rem;
    border-bottom: 2px solid rgb(250, 246, 246);
    width: 30px;
    text-align: center;
    margin-right: 6px;
    display: inline-block;
}
#letras{
    margin-top: 40px;
    display: flex;
    font-family: 'Carter One';
    flex-wrap: wrap;
    gap: 10px;
}

#letras button{
    border-radius: 50px;
    font-family: 'Carter One';
    border: none;
    font-size: 22px;
    width: 48px;
    padding: 6px ;
    text-align: center;
    background-color: rgb(253, 253, 253);
    color: black;
}
@media screen and (max-width: 767px) {
    body{
        margin: 0 auto;
    }
     h1{
      font-size: 26px;
    }
    #imagen{
        width: 150px;
        height: 150px;
         margin: 0;
    }
    #jugar{
        font-size: 26px;
        margin: 0;
    }
    #palabra__adivinar{
        font-size: 22px;
    }
    #letras button{
        font-size: 10px;
        
    }

  }